*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border: 1px solid;
    --width: 100%;
   }
 .masters--wrapper{
     margin: 0 auto;
     width: 1300px;
 }
 .header{
    width: 1300px;
    height: 600px;
    border:1px solid white;
    margin: 0 auto;
    background:#EEEEEE;
}
.nav{
    width: 100%;
    height: 10%;
    /* border:1px solid; */
    display: flex;

}
.nav-logo{
    width: 40%;
    height: 100%;
    /* border:1px solid; */
   padding-left: 60px;
   padding-top: 10px;
}
.nav-logo a{
    text-decoration: none;
    font-size: 20px;
    color:#1C3D76;
}
.nav-list-block{
    width: 50%;
    height: 100%;
    /* border:1px solid; */
}
.nav-list{
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items:center;
    list-style: none;
    font-size: 20px;
}


.hero-text{
    width: 50%;
    height: 100%;
    margin-left: 80px;
    
    /* border:1px solid; */
}
.hero-text-container{
    width: 100%;
    height: 60%;
        /* border:1px solid; */
    margin: 100px auto;
    font-size: 25px;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    color:#1C3D76;
}

#p{
    margin: 20px auto;
    font-size: 20px;
    text-align: justify;
}
.hero-content{
    width: 100%;
    height: 30%;
    margin-top: -40px;
    /* border:1px solid; */

}
.hero-content-text{
    text-align: center;
    display: flex;
    margin-left: -50px;
    color:#1C3D76;
    margin-right:  10px;
    margin-top: 20px;
}
.hero-box{
    width: 1200px;
    height: 100px;
    /* background: 1px solid;  */
    display: flex;
    margin-left: 150px;
    margin-top: 20px;
}

#input{
    font-size: 20px;
    width: 350px;
    height: 70px;
    
}
.hero-content-block{
    width: 350px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    border:1px solid;
    /* margin-top: 80px;*/
    margin-left: 50px; 
    background:#1C3D76;
}

#tel{ 
    margin-top: 20px;
    color:white;
    line-height: 1;
}
.p-text{
    width: 100%;
    height: auto;
    /* border:1px solid; */
    text-align:justify ;
    margin-left: 780px;
}
.about{
    width: var(--width);
    height: 700px;
    /* border: var(--border); */
}
.about-content{
    width: 100%;
    height: 20%;
    /* border: var(--border); */
    display: flex;
}
.content-text{
    width: 50%;
    height: 100%;
    /* border:var(--border); */
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.content-text2{
    width: 50%;
    height: 100%;
    /* border:var(--border); */
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.about-list{
   list-style: none;
   display: flex;
   /* border:1px solid; */
   margin-left: 100px;
   margin-top: 50px;
   width: 99%;
   height: 95%;
   flex-wrap: wrap;
   gap: 30px;
}
.about-itm{
   width: 365px;
   height: 250px;
   /* border:1px solid; */
   /* background:#EEEEEE; */
   background-image:url(../img/01.png);
   background-repeat:no-repeat;
   text-align: center;
   font-size: 18px;
   color:#1C3D76;
   background-image:url(../img/Ellipse\ 1.png);
   background-position: top -48px center;    
   /* text-decoration: none; */
}
.about-itm img{
 margin-top: -40px;
}
#li-text{
   margin-top: 20px;
}

.about-text{
   text-align: center;

}
#li-uchun{
   position: relative;
   left: 190px;
   top: -20px;
}
.services{
    width: var(--width);
    height: 400px;
    background:#EEEEEE;

    /* border: var(--border); */
}

.selection-list{
   list-style: none;
   display: flex;
   /* border:1px solid; */
   
   margin-left: 100px;
   margin-top: 50px;
   width: 87%;
   height: 95%;
   flex-wrap: wrap;
   gap: 30px;
}
.selection-itm{
   width: 350px;
   height: 330px;
   border:1px solid white;
  background:white;
   text-align: center;
   font-size: 18px;
   color:#1C3D76;
   margin-top: 30px;
}
.selection-itm img{
   width: 350px;

}
.selection-itm h3{
    margin-top: 20px;
}
.selection-itm p{
    margin-top: 80px;
    margin-left: -290px;
}
footer{
    background:#1C3D76;
    height: 450px;
}
.foot{
    border:var(--border) #1C3D76;
    height: 15%;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
    color:white;
}
#tex{
    margin-top: 20px;
}
.end-list{
    list-style: none;
    display: flex;
    /* border:1px solid; */
    margin-left: 100px;
    margin-top: 50px;
    width: 85%;
    height: 95%;
    gap: 35px;
}
.end-itm{
    width: 330px;
    height: 130px;
    /* border:1px solid; */
    background:#EEEEEE;
    text-align: center;
    font-size: 17px;
    color:#ffffff;
    background:#163364;
}
.end-itm h3{
    margin-top: 20px;
}
.end-text{
    text-align: center;
    color:white;
    margin-top: 30px;
}
.registration{
    width: 100%;
    height: auto;
    /* border:var(--border); */
}
.registr{
    width: 40%;
    /* height: 50%; */
    /* border:1px solid; */
    margin: 300px auto;
    text-align: center;
    padding: 30px;
}
.registr input{
    width: 350px;
    height: 55px;
}
.registr button{
    width: 350px;
    height: 55px;
    background:#1C3D76;
    color:white;
}
.sum{
    width: var(--width);
    height: 550px;
    /* border: var(--border); */
}

.sum-list{
   list-style: none;
   display: flex;
   /* border:1px solid; */
   margin-left: 100px;
   margin-top: 50px;
   width: 87%;
   height: 95%;
   flex-wrap: wrap;
   gap: 30px;
}
.sum-itm{
   width: 350px;
   height: 320px;
   /* border:1px solid; */
   background:#EEEEEE;
    
   text-align: center;
   font-size: 18px;
   color:#1C3D76;
}
.sum-itm h3{
    margin-top: 10px;
}
.sum-itm p{
    margin-top: 15px;
    font-size: 20px;
}
.block{
    width: 250px;
    height: 50px;
    /* border:var(--border); */
    margin-top: 30px ;
    margin-left: 50px;
    text-align:;
    background:white;
}

